body {
  background-color: #ebeb89;
  background-image: 
    linear-gradient(rgba(199, 182, 182, 0.7), rgba(0, 0, 0, 0.7)),
    url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%22%20height%3D%22100%22%3E%3Ctext%20y%3D%2250%25%22%20font-size%3D%2250%22%3E%F0%9F%98%80%3C/text%3E%3C/svg%3E'); /* 絵文字 */
  background-repeat: repeat;
  background-blend-mode:color-dodge;
}

.titleName {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.searchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
}

#searchBox,
#startDate,
#endDate {
  padding: 5px;
  font-size: 1em;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5列のグリッド */
  grid-gap: 10px; /* グリッドアイテム間のスペース */
  margin-top: 20px;
}

.gridItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button,
.pagination input {
  padding: 10px 20px;
  font-size: 1em;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination input {
  width: 60px;
  text-align: center;
}
